Repository Ddiaalv/Parcel-react-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx stylelint --fix, npx prettier --write

:butterfly: Prettier added
  .eslintrc
  .lintstagedrc
  .prettierignore
  .prettierrc
  .stylelintrc
  README.md
  package-lock.json
  package.json
  src/index.html
  src/index.js
Due: npx eslint --fix, npx prettier --write

:mouse: EditorConfig added
  .editorconfig
Due: none

:atom_symbol: React added
  .eslintrc
  .lintstagedrc
  README.md
  package-lock.json
  package.json
  src/App.jsx
  src/index.html
  src/index.js
Due: npx eslint --fix, npx prettier --write

:nail_care: Emotion added
  .lintstagedrc
  README.md
  package-lock.json
  package.json
  src/App.jsx
  src/App.style.js
Due: npx eslint --fix, npx prettier --write

:scroll: Hygen added
  README.md
  _templates/fc/new/component.ejs.t
  _templates/fc/new/prompt.js
  _templates/fc/new/style.ejs.t
  package-lock.json
  package.json
Due: npx eslint --fix, npx prettier --write

:heavy_minus_sign: Remove cssnano babel
  package-lock.json
  package.json
Due: none

:memo: Update package documentation
  package.json
Due: none

:hedgehog: Browserslist added
  .browserslistrc
Due: none

:page_with_curl: Gh-pages added
  package-lock.json
  package.json
Due: none

:see_no_evil: Updated .gitignore with build folder
  .gitignore
Due: none

:construction_worker: Workflow - Deploy on GH-Pages
  .github/workflows/deploy.yml
  README.md
  package-lock.json
  package.json
Due: none

Deploying to gh-pages from @ 0eb8705230ef18a29983cd4e0f5b5ce254586f32 🚀
  index.html
  src.7884cb9a.js
  src.7884cb9a.js.map
  src.f375df22.css
  src.f375df22.css.map
Due: npx eslint --fix, npx stylelint --fix, npx prettier --write

:see_no_evil: Updated
  .gitignore
Due: none

:closed_book: Storybook added
  .babelrc
  .eslintrc
  .storybook/main.js
  .storybook/preview.js
  README.md
  _templates/fc/new/component.ejs.t
  _templates/fc/new/story.ejs.t
  _templates/fc/new/style.ejs.t
  package-lock.json
  package.json
  src/App.jsx
  src/App.stories.js
  src/App.style.js
  src/index.js
  src/stories/Introduction.stories.mdx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
Due: npx eslint --fix, npx prettier --write

Deploying to gh-pages from @ dcb0a542d6958bc89857b0d3a9f6b913eeed33dc 🚀
  index.html
  src.51551acb.js
  src.51551acb.js.map
  src.7884cb9a.js.map
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.js
  npx stylelint --fix: any of: *.{scss,css}
  npx prettier --write: any of: *.{html,scss,css,js}
